
@{
    ViewBag.Title = "TutorialsList";
}

<h2>TutorialsList</h2>

<ol>
    <li>@Html.ActionLink("Add Data Into DropDownList", "LoadDropDownList", "Home")</li>
    <li>@Html.ActionLink("Join Example using LINQ Method", "Index", "Home")</li>
</ol>


